.profile-info {
  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: "Josefin Sans", serif;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.profile-info form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.album-info div img {
  
  border-radius: 50%;
  object-fit: cover;
  margin-top: -50px;
}

.search-container {
  font-family: "Josefin Sans", serif;
}