header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  background-color: white;
  min-width: 179px;
  
}

header img {
  width: 150px;
  position: fixed;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 40%;
}

a {
  text-decoration: none;
  color: rgb(68, 73, 85);
}

.active {
  font-weight: bold;
}

.user-name {
  position: fixed;
  top: 90%;
}