.search-container{
  display: flex;
  flex-direction: column;
  min-width: 80%;
  min-height: 150px;
  background-color: #eFF3f9;
}

.input-container {
  background-size: cover;
  background-position: center;
  background: linear-gradient(to bottom, #0018F4, rgba(8, 221, 210, 0.753)), url('../../images/BG AZUL.svg');
  background-blend-mode: overlay;
  min-height: 200px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-input{
  width: 300px;
  font-family: "Josefin Sans", serif;
  border-radius: 20px;
  height: 25px;
  opacity: 0.8;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
  &:focus::placeholder {
    color: transparent;
    border-color: #00D5E2;
  }

  &:focus {
    outline: none;
    border: 1px solid #00D5E2;
  }
}

.search-button {
  border-radius: 20px;
  width: 104px;
  font-family: "Josefin Sans", serif;
  height: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
  background-color: #00D5E2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #095e66f8;
  }
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

li {
  list-style: none;
  max-width: 170px;

}

li img {
  width: 170px;
  height: 170px;
  border-radius: 10px;
}

li p {
  font-family: "Josefin Sans", serif;

}
